<%= form_for(@event.comments.build) do |f| %>
	<% if f.object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(f.object.errors.count, "error") %>.
    </div>
    <ul>
      <% f.object.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
	<%= f.hidden_field :event_id %>
	<%= f.hidden_field :user_id, value: current_user.id %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Your comment...", minlength: 1 , class: "form-comment-description" %>
  </div>
  <%= f.submit "Comment", class: "btn btn-large btn-primary" %>
<% end %>